%h2 Pairing
- if current_user.admin?
  = link_to 'Edit Pairing', edit_pairing_path
  %br

%h4= "#{pairing.round.to_s}"
%table.table.table-condensed
  %thead
    %th Player
    %th Wins
    %th Draws
  %tr
    %td= link_to pairing.player_1.to_s, pairing.player_1
    %td= pairing.player_1_wins
    %td
  %tr
    %td= link_to pairing.player_2.to_s, pairing.player_2
    %td= pairing.player_2_wins
    %td
  %tr
    %td -
    %td -
    %td= pairing.draws.to_i

- if pairing.owns_pairing?(current_user)
  = link_to 'Update Results', enter_result_pairing_path(pairing)
